.drinklist {

display: flex;
margin: 10px;
flex-wrap: wrap;
justify-content: center;
  
}

.drink {

width: 350px;
aspect-ratio: 1;

}

.drink--image {
    width: 300px;
    border-radius: 10px;
}

.drink--name {
    height: 50px;
}