.drinklist {

display: flex;
margin: 10px;
margin-top: 100px;
flex-wrap: wrap;
justify-content: center;
  
}

.drink {

width: 350px;
aspect-ratio: 1;

}

.drink--image {
    width: 300px;
    border-radius: 10px;
}

.drink--image:hover {
    filter: brightness(60%);
}

.drink--name {
    height: 50px;
}