* {
  box-sizing: border-box;
}

.navbar {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.navbar--links {

  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
  display: flex;

}

.navbar--text {
  padding: 10px;
}

.homescreen {

}